* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

body {
  background: #1e1e1e;
  color: white;
  display: flex;
  display: flex;
  height: 100dvh;
  flex-direction: column;
}

.header {
  background-color: #202327;
  display: flex;
  height: 36px;
  width: 100%;
  align-items: center;
  justify-content: end;
}

.action-left,
.action-right {
  width: 50%;
  display: flex;
  gap: 12px;
}

.action-right {
  justify-content: end;
}

.btn {
  position: relative;
  width: 48px;
  height: 36px;
  font-size: 16px;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  transition: all 0.3 ease;
}

.btn:hover {
  background-color: #34373c;
}
.btn.active {
  background-color: #34373c;
}

.btn.await::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: 10%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
}

.app {
  position: relative;
  width: 100vw;
  flex: 1;
  display: flex;
  overflow: hidden;
}

.editor {
  width: 50%;
  position: relative;
  background: #1e1e1e;
  overflow: hidden;
}

.code {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  padding: 16px;
  background: transparent;
  color: transparent;
  caret-color: #ffffff;
  resize: none;
  border: none;
  outline: none;
  line-height: 1.5;
  white-space: pre-wrap;
  overflow: auto;
  font-size: 1em;
}

/* Highlight layer */
.highlight {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  padding: 16px;
  margin: 0 !important;
  overflow: auto;
  line-height: 1.5rem;
  color: #ffffff;
}

.highlight.dark {
  background-color: #15181e !important;
  /* background-color: #ffffff !important; */
}

.highlight code {
  white-space: pre-wrap !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
}

.code::selection {
  background: #264f785d;
}

.view {
  flex: 1;
  overflow: hidden;
  background: #fff;
}

.i-view {
  width: 100%;
  height: 100%;
  border: none;
  min-width: 0;
  overflow: hidden;
  display: block;
}

.iframe-overlay {
  position: absolute;
  inset: 0;
  background: transparent;
  display: none;
  z-index: 10;
}

.resize {
  position: absolute;
  top: 0;
  left: 50%;
  width: 4px;
  height: 100%;
  cursor: col-resize;
  background-color: #1389fd;
  z-index: 2;
  transform: translateX(-100%);
  transition: background 0.3s ease;
  opacity: 0;
}

.resize.bg-blue {
  background-color: #1389fd;
  opacity: 1;
}

.resize:hover {
  opacity: 1;
  width: 4px;
  background-color: #1389fd;
}

/* Match scrollbar cá»§a VSCode */
.code::-webkit-scrollbar,
.highlight::-webkit-scrollbar {
  width: 10px;
}

.code::-webkit-scrollbar-thumb,
.highlight::-webkit-scrollbar-thumb {
  background: #3c3c3c;
}

.code::-webkit-scrollbar-track,
.highlight::-webkit-scrollbar-track {
  background: #1e1e1e;
}
