* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overscroll-behavior: none;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tender {
  position: relative;
  height: min(960px, 100dvh);
  width: min(460px, 100dvw);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  touch-action: none;
  background: #0d0d0d;
}

.tender__cards {
  flex: 1;
  position: relative;
}

.card {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  z-index: 3;
  background: url("./images/img1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  user-select: none;
  touch-action: none;
}

.card.like {
  border: 8px double #22c55e;
  border-radius: 8px;
}

.card.like::after {
  content: "Like";
  text-align: end;
  padding: 12px;
  color: rgba(198, 235, 195, 0.377);
  -webkit-text-stroke: 1px #22c55e;
  display: block;
  font-size: 80px;
}

.card.unlike {
  border: 8px double #dc3545;
  border-radius: 8px;
}

.card.unlike::after {
  content: "UnLike";
  text-align: left;
  padding: 12px;
  color: #f3e9ea83;
  -webkit-text-stroke: 1px #dc3545;
  display: block;
  font-size: 80px;
}

.card.card__continue {
  z-index: 2;
}

.card__pagination {
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: calc(100% - 24px);
  background-color: transparent;
  display: flex;
  gap: 4px;
}

.card__pagination .pagination {
  background-color: #bdbdbd91;
  height: 2px;
  width: 20%;
}

.pagination.active {
  background-color: white;
}

.card__info {
  position: absolute;
  left: 50%;
  bottom: 150px;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  padding: 12px;
  color: white;
  min-height: 196px;
}

.card__info .info__basic {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 36px;
  text-transform: capitalize;
}

.info__name {
}

.info__age {
}

.info__status {
  font-size: 20px;
  color: #bdbdbd;
  margin-top: -16px;
}

.info__more {
  margin-left: auto;
  display: flex;
  gap: 6px;
  font-size: 14px;
}

.info__status.on {
  color: #22c55e;
}

.info__hashtag {
  font-size: 12px;
  display: flex;
  gap: 16px;
}

.hashtag {
  padding: 2px 8px;
  display: block;
  background-color: rgba(0, 0, 0, 0.01);
  backdrop-filter: blur(5px);
  border-radius: 999px;
}

.info__bio {
  line-height: 1.45;
  font-size: 16px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
  word-spacing: 3px !important;
}

.card__action {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 24px;
}

.card__action .btn {
  background-color: rgba(0, 0, 0, 0.01);
  backdrop-filter: blur(5px);
}

.card__action .button__unlike {
  color: #fd3078;
}

.card__action .button__like {
  color: #f52d76;
  background-color: aliceblue;
  font-size: 40px;
}

.card__action .button__start {
  color: #3279bb;
  font-size: 32px;
}

.tender__likeds {
  flex: 1;
  display: none;
  align-content: flex-start;
  gap: 24px;
  padding: 12px;
  flex-wrap: wrap;
  color: aliceblue;
  background: linear-gradient(to top right, #0d0d0d, #1b0a0a);
  height: 100%;
  overflow: auto;
  scrollbar-width: none;
  margin: 38px 0 56px 0;
}

.tender__likeds ::-webkit-scrollbar {
  display: none;
}

.liked__recently {
  position: absolute;
  height: 38px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  top: 0;
  left: 0;
}

.liked__card {
  display: flex;
  flex-direction: column;
  width: calc(50% - 12px);
  height: 286px;
}

.liked__card__content {
  flex: 1;
  background-image: url("./images/img1_2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
}

.liked__card__info {
  height: 42px;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  gap: 12px;
}

.liked__card__infobasic {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
}

.liked__card .button__start {
  color: #3279bb;
  background-color: aliceblue;
  width: 28px;
  height: 28px;
  font-size: 18px;
}

.liked__card__name {
}

.like__card__status {
  display: inline-block;
  margin-left: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #bdbdbd;
  border: none;
}

.like__card__status.on {
  background-color: #22c55e;
}

.liked__card__location {
  font-size: 12px;
  display: flex;
  align-items: flex-end;
  gap: 8px;
  color: #bdbdbd;
}

.liked__card__distance {
}

.tender__navigation {
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 0;
  width: calc(100%);
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  padding: 0 8px;
}
